{% extends 'base.html' %}
{% block body_block %}
<div class="container mt-5">
    <h2 class="text-center"> <strong>Your Orders</strong> </h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-5" style="height: auto">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Order Id</th>
                                <th>Products</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}